* {
    --theme-green: rgb(20,151,119);
    --btn-color: rgb(255,200,0);
    --btn-txt:rgb(85, 46, 1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parent {
    width: 1000px;
}

header {
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--theme-green);
    height: 250px;
    width: 100%;
    position: relative;
}

header #header-wrapper {
    width: 1000px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

header #header-wrapper #nav-bar {
    width: 100%;
    margin: 0 auto;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

header #header-wrapper #nav-bar #nav-1{
    display: flex;
    align-items: center;
}

header #nav-bar #nav-1 ul{
    display: flex;
    align-items: center;
}

header #nav-bar ul li{
    display: inline;
    cursor: pointer;
    color: white;
}

header #nav-bar ul li .bi-list{
    display: inline;
    cursor: pointer;
    color: white;
    font-size: 1.75rem;
    margin-right: 15px;
    display: none;
}

header #nav-bar #nav-1 ul li:nth-child(2){
    bottom: 0;
}

header #nav-bar #nav-1 ul li img{
    width: 100px;  
}

header #nav-bar #nav-1 ul li:nth-child(3){
    color: white;
    font-weight: bold;
    font-size: 0.9rem;    
    margin: 0 20px;
}

header #nav-bar #nav-1 ul li button{
    background-color: transparent;
    color: white;
    border: 1px solid rgb(0,113,104);   
    width: 60px;
    height: 30px;
    font-size: 0.8rem;
}

header #nav-bar #nav-1 ul li button:first-child{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

header #nav-bar #nav-1 ul li button:last-child{  
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}

header #nav-bar #nav-2{
    display: flex;
    align-items: center;
}

header #nav-bar #nav-2 ul li img{
    width: 30px;
}

header #nav-bar #nav-2 ul label{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

header #nav-bar #nav-2 ul{
    display: flex;
    align-items: center;
}

header #nav-bar #nav-2 ul li{
    margin-left: 30px;
}

header #nav-bar #nav-2 ul li button{
    background-color: var(--btn-color);
    color: var(--btn-txt);
    font-weight: bolder;
    font-size: 0.9rem;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 5px;
}

header #search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

header #search-area #location {
    color: white;
    font-size: .9rem;
    text-align: center;
    background-color: rgb(16,132,111);
    padding: 10px;
    border-radius: 25px;
    width: 150px;
    height: 35px;
    margin-bottom: 15px;
}

header #search-area #search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 80%;
    height: 60px;
    border-radius: 35px;
} 

header #search-area #search-bar input{
    width: 100%;
    border: none;
    margin-left: 15px;
}

header #search-area #search-bar input:focus{
    outline: none;
}

header #search-area #search-bar .bi {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--btn-txt);
    background-color: var(--btn-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
}


main #add-bar {
    border: 1px solid rgb(238,45,47);
    height: 90px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding-right: 50px;
}

main #add-bar img {
    margin-left: 10px;
}

main #add-bar img:nth-child(1) {
    width: 400px;
    object-fit: contain;
    animation: add-1 3s infinite;
}

main #add-bar img:nth-child(2) {
    width: 200px;
    object-fit: contain;
    margin-left: -30px;
}

main #add-bar img:nth-child(3) {
    width: 200px;
    object-fit: contain;
}

main #add-bar img:nth-child(4) {
    width: 65px;
    object-fit: contain;
}

main #add-bar #add-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #add-bar #add-5 img:first-child{
    width: 150px;
    object-fit: contain;
}

main #add-bar #add-5 img:last-child{
    width: 90px;
    object-fit: contain;
}

main #add-bar img:nth-child(6) {
    width: 200px;
    object-fit: contain;
}

main #mini-add-bar {
    display: none;
}

main #items {
    margin-top: 30px;
}

main #item-labels{
    margin-top: 15px;
}

main #item-labels>label {
    font-size: .9rem;
    font-weight: bold;
}

main #item-labels #see-all {
    font-size: .9rem;
    font-weight: 400;
    color: rgb(98, 98, 204);
    float: right;
    display: none;
}

main #items .row .col{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

main #items .row .col .inner-col{
    display: flex;
    flex-direction: column;
}

main #items .row .col .inner-col label:hover {
    cursor: pointer;
}

main #items .row .col img{
    width: 60px;    
}

main #items .row .col img:hover {
    cursor: pointer;
}

main #items .row .col label:first-child{
    font-size: 1rem;
}

main #items .row .col label:last-child{
    font-size: 0.8rem;
    color: rgb(122, 118, 118);
    margin-top: 10px;
}

main #items .row {
    height: 108px;
}

main #items-mini{
    display: none;
}

main #call-to-action {
    box-shadow: 1px 1px 13px 1px rgba(122, 118, 118, 0.2);
    border-radius: 5px;
    margin-top: 40px;
}

main #call-to-action {
    box-shadow: 1px 1px 13px 1px rgba(122, 118, 118, 0.2);
    border-radius: 5px;
    margin-top: 40px;
}

main #call-to-action #action-1 {
    border-right: 1px solid rgb(224, 219, 219);
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

main #call-to-action #action-1 img {
    width: 140px;
}

main #call-to-action #action-1 label:first-child {
    font-size: 1.2rem;
    font-weight: bold;
}

main #call-to-action #action-1 label:nth-child(2) {
    font-size: 0.9rem;
    color: rgb(92, 90, 90);
}

main #call-to-action #action-1 .inner-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 6%;
}

main #call-to-action #action-1 .inner-col button {
    background-color: var(--btn-color);
    color: var(--btn-txt);
    height:40px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 25px;
    width: fit-content;
    padding: 5%;
    display: flex;
}

main #call-to-action #action-1 button img{
    width: 15px;  
    margin-right: 7px;  
}

main #call-to-action #action-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}

main #call-to-action #action-2 img {
    width: 140px;
}

main #call-to-action #action-2 label {
    font-size: 0.9rem;
    color: rgb(92, 90, 90);
}

main #call-to-action #action-2 button img {
    width: 18px;
    margin-left: 10px;
}

main #call-to-action #action-2 button {
    background-color: rgb(0,116,186);
    color: white;
    height:35px;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 25px;
    width: fit-content;
    padding: 5%;
    display: flex;
    align-items: center;
}

main #call-to-action .row {
    height: 220px ;
}

main #call-to-action-mini{
    display: none;
}

main #quick-link{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 30px;
}

main #links {
    margin-top: 10px;
}

main #links #row #col {
    padding: 1%;
    float: left;
    width: 250px;
    
}

main #links #row #col div {
    background-color: rgb(243,246,245);
    padding: 5%;
    border-radius: 5px;
    height: 100%;
}

main #links #row #col div label:first-child{
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

main #links #row #col div label:last-child{
    margin-top: 20px;
    font-size: 0.9rem;
    line-height: 2;
    cursor: pointer;
}

main #links #row{
    height: 190px;
}

main #about {
    margin-top: 30px;
    height: 155px;
    color: rgb(92, 90, 90);
    font-size: 0.9rem;
    line-height: 2;
}

main #about div{
    cursor: pointer;
}

main #about label:first-child {
    font-weight: bold;
    font-size: 1rem;
}


body #seperator {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: var(--theme-green);
}

footer {
    margin-top: 15px;
    height: 355px;
}

footer #options {
    height: 267px;
}

footer #options .row .col-4 #div-1 {
    display: flex;
    justify-self: start;
    align-items: center;
    height: 60px;
}

footer #options .row .col-4 #div-2{
    margin-top: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer #options .row .col-4 #div-2 #fb{
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer #options .row .col-4 #div-2 img {
    width: 30px;
    cursor: pointer;
}

footer #options .row .col-4 #div-2:nth-child(2) {
    display: flex;
    align-items: center;
}

footer #options .row .col-4 #div-2 label:nth-child(2) {
    color:  rgb(71,90,149);
    font-weight: bold;
    font-size: .9rem;
    cursor: pointer;
}

footer #options .row .col-4 #div-2 label:nth-child(4) {
    color: rgb(0,116,186);
    font-size: .9rem;
    cursor: pointer;
}

footer #options .row .col-4 div img:first-child {
    width: 150px;
    margin-left: -8px;
}

footer #options .row .col-4 div img:last-child {
    width: 175px;
}

footer #options #option-lable{
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

footer #option-lable li:first-child {
    margin-top: 20px;
}

footer #options #option-lable li {
    font-weight: 400;
    line-height: 2;
    color:  rgb(0,116,186);
    cursor: pointer;
}

footer #copyright {
    border-top: 1px solid lightgray;
    padding-top: 2%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

footer #copyright img {
    width: 125px;
}

footer #mini-options{
    display: none;
}


/* Animations */



@media all and (max-width:1000px){
    header{
        height: 200px;
    }

    header #nav-bar{
        padding-left: 15px;
    }

    header #nav-bar ul li button{
        display: none;
    }

    header #nav-bar #nav-1 ul li:nth-child(3){
        display: none;
    }

    header #nav-bar ul li .bi-list{
        display: inline;
    }


    header #nav-bar #nav-2 label{
        display: none;
    }

    header #nav-bar #nav-2 li {
        margin-right: -5px;
    }

    header #nav-bar #nav-2 li button {
        display: none;
    }

    header #header-wrapper {
        width: 100%;
    }

    header #search-area {
        padding-top: 15px;
    }

    header #search-area #search-bar {
        height: 45px;
    }

    header #search-area #search-bar input{
        font-size: 0.9rem;
    }
    
    header #search-area #search-bar .bi {
        font-size: 1rem;
        width: 35px;
        height: 35px;
    }

    .parent{
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    main #add-bar {
        display: none;
    }
 
    main #mini-add-bar {
        border: 1px solid rgb(238,45,47);
        height: 100px;
        width: 320px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-content: space-around;
    }
    
    /* main #mini-add-bar img {
        margin-left: 3px;
    } */

    main #mini-add-bar #add-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    main #mini-add-bar #add-1 img{
        width: 150px;
    }

    main #mini-add-bar #add-1 #add-5{
        display: flex;
        justify-content: center;
    }
    
    main #mini-add-bar #add-1 #add-5 img:nth-child(1) {
        width: 65px;
        object-fit: contain;
    }
    
    main #mini-add-bar #add-1 #add-5 img:nth-child(2) {
        width: 50px;
        object-fit: contain;
        margin-left: 10px;
    }

    main #mini-add-bar #add-2 {
        margin-left: 10px;
    }

    main #mini-add-bar #add-2 img:nth-child(1) {
        width: 80px;
        object-fit: contain;
        margin-left: 10px;
    }

    main #mini-add-bar #add-2 img:nth-child(2) {
        width: 80px;
        object-fit: contain;
        margin-left: 10px;
    }

    main #mini-add-bar #add-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main #mini-add-bar #add-3 img:nth-child(1) {
        width: 50px;
        object-fit: contain;
        margin-left: 10px;
    }

    main #mini-add-bar #add-3 img:nth-child(2) {
        width: 50px;
        object-fit: contain;
        margin-left: 10px;
    }

    main #item-labels #see-all {
        display: inline;
    }

    main #items{
        display: none;
        width: 100%;
    }

    main #items-mini{
        display: flex;
        margin-top: 30px;
        overflow-x:scroll;
        overflow-y: hidden;
    }

    body::-webkit-scrollbar {
        height: 200px;
    }
    

    main #items-mini .mini-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 140px;
        white-space: nowrap;
        margin-right: 30px;
    }

    main #items-mini .mini-item label{
        text-align: center;
    }
    
    main #items-mini .mini-item label:hover {
        cursor: pointer;
    }

    main #items-mini .mini-item .inner-col label:hover {
        cursor: pointer;
    }
    
    main #items-mini .mini-item img {
        width: 55px;    
    }
    
    main #items-mini .mini-item img:hover {
        cursor: pointer;
    }

    main #items-mini .mini-item .inner-col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main #items-mini .mini-item .inner-col label:first-child{
        font-size: 0.9rem;
    }
    
    main #items-mini .mini-item label:last-child{
        font-size: 0.75rem;
        color: rgb(122, 118, 118);
        margin-top: 10px;
    }

    main #call-to-action{
        display: none;
    }

    main #call-to-action-mini{
        display: block;
    }
    
    main #call-to-action-mini #action-1 {
        border: 1px solid rgb(224, 219, 219);
        box-shadow: 1px 1px 13px 1px rgba(122, 118, 118, 0.2);
        border-radius: 5px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
        border-radius: 5px;
    }
    
    main #call-to-action-mini #action-1 img {
        width: 140px;
    }
    
    main #call-to-action-mini #action-1 label:nth-child(2) {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 10px;
    }
    
    main #call-to-action-mini #action-1 label:nth-child(3) {
        font-size: 1rem;
        color: rgb(92, 90, 90);
        text-align: center;
        margin-top: 20px;
    }
    
    main #call-to-action-mini #action-1 button {
        background-color: var(--btn-color);
        color: var(--btn-txt);
        border: none;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 25px;
        width: fit-content;
        display: flex;
        margin-top: 20px;
        padding: 15px;
    }
    
    main #call-to-action-mini #action-1 button img{
        width: 15px;  
        margin-right: 7px;  
    }
    
    main #call-to-action-mini #action-2 {
        border: 1px solid rgb(224, 219, 219);
        box-shadow: 1px 1px 13px 1px rgba(122, 118, 118, 0.2);
        border-radius: 5px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
        border-radius: 5px;
    }
    
    main #call-to-action-mini #action-2 img {
        width: 175px;
        margin-bottom: 20px;
    }
    
    main #call-to-action-mini #action-2 label {
        font-size: 1rem;
        color: rgb(92, 90, 90);
        text-align: center;
        margin-bottom: 20px;
    }
    
    main #call-to-action-mini #action-2 button {
        background-color: rgb(0,116,186);
        color: white;
        height:35px;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 25px;
        width: fit-content;
        display: flex;
        align-items: center;
        padding: 25px;
    }

    main #call-to-action-mini #action-2 button img {
        width: 18px;
        margin-left: 10px;
        transform: translateY(10px);   
    }
    
    main #call-to-action-mini #row {
        height: 220px ;
    }

    main #links #row {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden; 
        width: 100%;
        margin: 0;
        position: relative;
    }

    main #links #row #col{
        position: absolute;
    }

    main #links #row #col:nth-child(2) {
        transform: translateX(110%);
    }

    main #links #row #col:nth-child(3) {
        transform: translateX(220%);
    }

    main #links #row #col:nth-child(4) {
        transform: translateX(330%);
    }

    main #about label:nth-child(2){
        display: none;
    }
    main #about{
        margin-bottom: 15px;
    }

    main #about div{
        text-align: center;
    }

    footer #options {
        display: none;
    }

    footer #copyright {
        display: none;
    }
    
    footer #mini-options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer #mini-options div{
        width: 100%;
        
    }

    footer #mini-options #row-1:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgb(207, 205, 205);
        height: 100px;
    }

    footer #mini-options #row-1 label {
        font-size: 0.9rem;
        font-weight: bold;
        color: rgb(80, 77, 77);
    }

    footer #mini-options #row-1 #option-btns{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }

    footer #mini-options #row-1 #option-btns img:nth-child(1){
        width: 150px;
        cursor: pointer;
    }

    footer #mini-options #row-1 #option-btns img:nth-child(2){
        width: 170px;
        cursor: pointer;
    }

    footer #mini-options #row-2{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(207, 205, 205);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer #mini-options #row-2 img{
        width: 30px;
    }

    footer #mini-options #row-2 label{
        color: rgb(71,90,149);
        font-weight: bold;
        cursor: pointer;
    }

    footer #mini-options #row-2{
        display: flex;
        justify-content: center;
    }

    footer #mini-options #row-3{
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid rgb(207, 205, 205);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    footer #mini-options #row-4{
        display: flex;
        justify-content: center;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid rgb(207, 205, 205);
    }

    footer #mini-options #row-4 button{
        background-color: transparent;
        color: rgb(0,116,186);
        border: 1px solid rgb(0,113,104);  
        border-radius: 3px; 
        width: 120px;
        height: 30px;
        font-size: 0.8rem;
        cursor: pointer;
    }

    footer #mini-options #row-4 button a{
        color: rgb(207, 205, 205);
    }

    footer #mini-options #row-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer #mini-options #row-5 label:first-child {
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 15px;
        color: rgb(80, 77, 77);
    }

    footer #mini-options #row-5 label:last-child {
        font-size: 0.9rem;
        margin-bottom: 10px;
        color:  rgb(0,116,186);
    }

}